{@java.util.List<com.antitheft.Device> devices}
{#include base activePage="dashboard"}
    {#title}Dashboard{/title}
    {#content}
        <div class="row mt-3">
            <div class="col">
                <div>
                    <label for="deviceSelect">Select Device: </label>
                    <select id="deviceSelect">
                        {#for device in devices}
                            <option value="{device.id}"
                                    data-firstRecordTime="{device.firstRecordTime.epochSecond}">{device.id}
                                - {device.partNumber}</option>
                        {/for}
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label for="selectedDate" class="text-dark text">First data:</label>
                <h3 id="selectedDate" class="text-dark"></h3>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="datepicker">Date:</label>
                    <!-- Tempus Dominus Input Group (configured for date only) -->
                    <div class="input-group" id="datepicker" data-td-target-input="nearest"
                         data-td-target-toggle="nearest">
                        <button class="btn btn-outline-secondary" type="button" id="decreaseDate">←</button>
                        <input type="text" class="form-control" data-td-target="#datepicker"/>
                        <span class="input-group-text" data-td-target="#datepicker"
                              data-td-toggle="datetimepicker">
                    <i class="fas fa-calendar"></i>
                </span>
                        <button class="btn btn-outline-secondary" type="button" id="increaseDate">→</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div id="map" style="height: 500px; width: 100%;"></div>
            </div>
        </div>
    {/content}
    {#headScripts}
        <!-- Tempus Dominus v6 CSS -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.2.7/dist/css/tempus-dominus.min.css">
        <script>
            (g => {
                var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__",
                    m = document, b = window;
                b = b[c] || (b[c] = {});
                var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams,
                    u = () => h || (h = new Promise(async (f, n) => {
                        await (a = m.createElement("script"));
                        e.set("libraries", [...r] + "");
                        for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]);
                        e.set("callback", c + ".maps." + q);
                        a.src = `https://maps.googleapis.com/maps/api/js?` + e;
                        d[q] = f;
                        a.onerror = () => h = n(Error(p + " could not load."));
                        a.nonce = m.querySelector("script[nonce]")?.nonce || "";
                        m.head.append(a)
                    }));
                d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n))
            })({
                key: "AIzaSyA-__21xOkhgXpt6AQM7l6XsayP39NnZ1o",
                v: "weekly"
                // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
                // Add other bootstrap parameters as needed, using camel case.
            });
        </script>
    {/headScripts}
    {#bodyScripts}
        <!-- Tempus Dominus v6 JS -->
        <script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.2.7/dist/js/tempus-dominus.min.js"></script>
        <script src="js/script.js"></script>
    {/bodyScripts}
{/include}
